health-ws-parent/health-ws-api/src/main/resources/META-INF/wsdl/HealthService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:hs="http://akorolev.health.ru/health/ws/query"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="HealthService" targetNamespace="http://akorolev.health.ru/health/ws/query">
    <wsdl:types>
        <xsd:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://akorolev.health.ru/health/ws/query">

            <xsd:complexType name="Trainer">
                <xsd:sequence>
                    <xsd:element name="lastName" type="xsd:string" minOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="GetTrainersRequest">
                <xsd:sequence>
                    <xsd:element name="visa" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="GetTrainersResponse">
                <xsd:sequence>
                    <xsd:element name="trainers" type="hs:Trainer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="getTrainersRequest" type="hs:GetTrainersRequest"/>
            <xsd:element name="getTrainersResponse" type="hs:GetTrainersResponse"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getTrainersRequest">
        <wsdl:part name="getTrainersRequest" element="hs:getTrainersRequest"/>
    </wsdl:message>

    <wsdl:message name="getTrainersResponse">
        <wsdl:part name="getTrainersResponse" element="hs:getTrainersResponse"/>
    </wsdl:message>


    <wsdl:portType name="HealthService">
        <wsdl:operation name="getTrainers">
            <wsdl:input message="hs:getTrainersRequest"/>
            <wsdl:output message="hs:getTrainersResponse"/>
        </wsdl:operation>


    </wsdl:portType>

    <wsdl:binding name="HealthServiceSOAP" type="hs:HealthService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTrainers">
            <soap:operation soapAction="getTrainers"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="HealthService">
        <wsdl:port binding="hs:HealthServiceSOAP" name="HealthServiceSOAP">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
